html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  background-color: #F5F4F0;
}

.content {
  margin-left: 14vw;
  font-size: 1.5vw;
  margin-right: 8vw;
  margin-top: 3vw;
  line-height: 3vw;
}

.top {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 140px;
  background-color: #AA9D81;
  text-align: center;
  line-height: 140px;
  font-size: 50px;
  color: #fff;
}

.icon{
  font-size: 25px;
  margin-left: 10vw;
  margin-top: 3vw;
}

.title{
  display: inline-block;
  font-size: 25px;
  margin-left: 1vw;
  margin-top: 2vw;
}


.dt{  
  width: 100vw;
  padding-left: 17vw;
  padding-bottom: 0.7vw;
  margin-top: 1vw;
  cursor: pointer;
  transition: 0.2s ease-in;
}

.dt:hover{
  background-color: #E8E8E3;
}

.num{
  width: 100px;
  margin-left: 1vw;
  margin-top: 1vw;
  margin-right: 0.7vw;
  text-align: center;
  height: 30px;
  line-height: 30px;
  border-radius: 20px;
  background-color: #C9C9C5;
  display: inline-block;
  font-size: 15px;
}

.lab{
  display: inline-block;
  cursor: pointer;
}

.image{
  height: 150px;
  margin: 10px;
  padding: 0;
  display: inline;
}

.ifr{
  margin: 0;
  width: 33vw;
  margin-top: 1vw;
}

.down{
  text-align: center;
  width: 10vw;
  margin-top: 1vw;
}

.slides{
  width: 33vw;
  overflow: hidden;
  height: 0;
  transition: 1s;
}
.img_c{
  margin-left: 13vw;
  margin-top: 2vw;
  width: 80vw;
  text-align: center;
}
.p{
  margin-left: 13vw;
  font-size: 16px;
  line-height: 30px;
}

iframe{
  width: 40vw;
  height: 30vw;
  frameborder: 0;
}
.onepeo{
  margin: 2vw 10vw;
  display: inline-block;
}
.per{
  margin: 1vw 2vw;
  font-size: 2vw;
}

.ebimg{
  height: 150px;
  display: block;
  margin-top: 1vw;
}

.eb{
  margin-left: 10vw;
}

.eba{
  color: black;
  margin: auto;
}

#eb6{
  margin-left: 15vw;
}

