html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  background-color: #F5F4F0;
}

.top {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 140px;
  background-color: #AA9D81;
  text-align: center;
  line-height: 140px;
  font-size: 50px;
  color: #fff;
}

.class_top {
  margin-left: 10vw;
  margin-top: 3vw;
  margin-bottom: 2.5vw;
}

i {
  width: 2.5vw;
  font-size: 2vw;
  margin-right: 2.5vw;
}

.class_title {
  margin-top: 2.5vw;
  font-size: 2.5vw;
}

.class_intro {
  width: 80vw;
  margin-top: 2vw;
  line-height: 4vw;
  padding-left: 2vw;
  font-size: 1.6vw;
}

.two_class {
  width: 81.5vw;
  padding-left: 8vw;
  padding-right: 8vw;
  margin: 0;
  display: flex;
  justify-content: space-around;
  padding-bottom: 5vw;
}

.pic {
  width: 28vw;
  height: 21vw;
  margin: 0;
  border-radius: 10px;
  padding: 0;
  border: solid 1vw #AA9D81;
  border-radius: 20px;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  display: inline-block;
  transition: 0.4s;
}
.pic:hover {
  width: 28.6vw;
  height: 21.4vw;
}

.name {
  font-size: 2vw;
  padding: 0;
  width: 20vw;
  height: 4.5vw;
  line-height: 4.5vw;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  margin-top: 1vw;
  border-radius: 15px;
  background-color: #C9C9C5;
}

.intro {
  display: inline-block;
  width: 33vw;
  line-height: 2.3vw;
  margin-top: 2vw;
  text-align: justify;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  font-size: 1.3vw;
}

@media only screen and (max-width: 800px){
  .two_class{
    display: block;
  }
  .pic{
    width: 60vw;
    height: 45vw;
  }
  .name{
    width: 30vw;
    height: 7vw;
    line-height: 7vw;
  }
  .intro{
    line-height: 4vw;
    width: 60vw;
  }
  .one_class{
    margin-top: 10vw;
  }
}