<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="./styles/detail_slides.css">
  <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css'>

</head>
<body>
  <div class="top">課程名稱</div>
  <i class="fa-regular fa-note-sticky"></i>
  <div class="title">上課簡報</div>
  <div class="two_ppt">
    <div class="ppt">
      <div class="num">第一堂</div>
      <div class="content">上課內容簡介上課內容簡介上課內容簡介</div>
      <div class="slides">
        <iframe src="https://slides.com/aaw/cpp_summer/embed" width="576" height="420" title="暑訓C++" scrolling="no" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
      </div>
    </div>

    <div class="ppt">
      <div class="num">第二堂</div>
      <div class="content">上課內容簡介上課內容簡介上課內容簡介</div>
      <div class="slides">
        <iframe src="https://slides.com/aaw/cpp_summer/embed" width="576" height="420" title="暑訓C++" scrolling="no" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
      </div>
    </div>
  </div>

  <div class="two_ppt">
    <div class="ppt">
      <div class="num">第三堂</div>
      <div class="content">上課內容簡介上課內容簡介上課內容簡介</div>
      <div class="slides">
        <iframe src="https://slides.com/aaw/cpp_summer/embed" width="576" height="420" title="暑訓C++" scrolling="no" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
      </div>
    </div>

    <div class="ppt">
      <div class="num">第四堂</div>
      <div class="content">上課內容簡介上課內容簡介上課內容簡介</div>
      <div class="slides">
        <iframe src="https://slides.com/aaw/cpp_summer/embed" width="576" height="420" title="暑訓C++" scrolling="no" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
      </div>
    </div>
  </div>

  <div class="two_ppt">
    <div class="ppt">
      <div class="num">第五堂</div>
      <div class="content">上課內容簡介上課內容簡介上課內容簡介</div>
      <div class="slides">
        <iframe src="https://slides.com/aaw/cpp_summer/embed" width="576" height="420" title="暑訓C++" scrolling="no" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
      </div>
    </div>

    <div class="ppt">
      <div class="num">第六堂</div>
      <div class="content">上課內容簡介上課內容簡介上課內容簡介</div>
      <div class="slides">
        <iframe src="https://slides.com/aaw/cpp_summer/embed" width="576" height="420" title="暑訓C++" scrolling="no" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
      </div>
    </div>
  </div>

  <i class="fa-regular fa-image"></i>
  <div class="title">課堂花絮</div>
  <img src="">

  <i class="fa-regular fa-pen-to-square"></i>
  <div class="title">成果展示</div>


</body>