html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  background-color: #F5F4F0;
}

.top {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 15vw;
  background-color: #AA9D81;
  text-align: center;
  line-height: 15vw;
  font-size: 4vw;
  color: #fff;
}

.icon {
  width: 2.5vw;
  font-size: 2vw;
  margin-right: 2.5vw;
}

.event_title {
  margin-top: 2.5vw;
  font-size: 2.5vw;
}

.event_top {
  margin-left: 10vw;
  margin-top: 3vw;
  margin-bottom: 2.5vw;
}

.event_intro {
  width: 80vw;
  margin-top: 2vw;
  line-height: 4vw;
  padding-left: 2vw;
  font-size: 1.8vw;
}

.one_event {
  display: flex;
  margin-bottom: 3vw;
}

.pic {
  width: 25vw;
  height: 16vw;
  margin: 0;
  border-radius: 10px;
  padding: 0;
  border: solid 0.7vw #AA9D81;
  border-radius: 20px;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  display: inline-block;
  transition: 0.4s;
}
.pic:hover {
  width: 25.5vw;
  height: 16.4vw;
}

.name {
  font-size: 1.8vw;
  padding: 0;
  width: 12.5vw;
  height: 3.6vw;
  line-height: 3.6vw;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  margin-top: 1vw;
  border-radius: 15px;
  background-color: #C9C9C5;
}

.PicAndName {
  display: inline-block;
  margin-left: 10vw;
}

.intro {
  display: inline-block;
  width: 50vw;
  margin-left: 5vw;
  line-height: 3vw;
  text-align: center;
  font-size: 1.6vw;
  margin-top: 0;
}