footer {
  display: flex;
  justify-content: space-between;
  margin-top: 5vw;
  padding: 1vw 4vw;
  color: var(--soft-white);
  background-color: var(--light-brown);
  font-weight: 300;
  font-size: 14px;
}

#copyright {
  display: inline;
}

#contact-links {
  display: flex;
  align-items: center;
}

#contact-links a {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin: 0 1vw;
  text-decoration: none;
  width: 30px;
  height: 30px;
  font-size: 20px;
  color: var(--soft-white);
  border: 2px solid var(--soft-white);
  border-radius: 50%;
  transition: 0.2s;
}

#contact-links a:hover {
  color: var(--light-brown);
  background-color: var(--soft-white);
}

@media only screen and (max-width: 1100px) {
  footer {
    display: inherit;
    font-size: 18px;
    padding-bottom: 10vw;
  }

  #copyright {
    display: block;
    text-align: center;
  }

  #contact-links {
    justify-content: center;
    margin: 4vw 0;
  }

  #contact-links a {
    width: 40px;
    height: 40px;
    font-size: 24px;
    margin: 0 2vw;
  }
}

