footer {
  padding: 5vh 15vw;
  background-color: var(--light-brown);
  color: var(--soft-white);
  font-weight: 700;
  text-align: left;
}

footer a {
  color: var(--soft-white);
}

footer th {
  padding-right: 1vw;
}

