body {
  margin: 0;
  background-color: var(--soft-white);
}

header {
  padding: 0 10vw 0 10vw;
}

#navigation {
  list-style-type: none;
  text-align: right;
  margin: 0;
}

#navigation li {
  display: inline;
}

#navigation li a {
  display: inline-block;
  padding: 3vh 1.5vw;
  font-family: "Noto Sans TC", "微軟正黑體", "Microsoft Jhenghei", sans-serif;
  font-weight: bold;
  font-size: 20px;
  color: var(--dark-brown);
  text-decoration: none;
  transition: 0.3s;
}

#navigation li a:hover {
  background-color: var(--light-brown);
}
