body {
  margin: 0;
}

header {
  background-color: #203864;
}

#navigation {
  list-style-type: none;
  text-align: right;
  margin: 0;
  padding: 0;
}

#navigation li {
  display: inline-block;
  padding: 20px 5px 20px 5px;
}

#navigation li a {
  font-family: "微軟正黑體", "Microsoft Jhenghei", sans-serif;
  font-weight: bold;
  font-size: 20px;
  color: #fff;
  padding: 5px 20px 5px 20px;
  border-radius: 8px;
  text-decoration: none;
}

#navigation li a:hover {
  color: #203864;
  background-color: #fff;
}
