#news-post {
  margin: 5vw 20vw;
  padding: 3vw;
  background-color: white;
  box-shadow: 0 5px 10px 5px #999;
  border-radius: 10px;
}

#news-title {
  color: var(--dark-brown);
  font-size: 30px;
  font-weight: 700;
}

#news-content {
  color: var(--dark-brown);
  font-size: 20px;
}

@media screen and (max-width: 1100px) {
  #news-post {
    margin: 5vw 7vw;
  }
}
